#faq-section {
    width: 80%;
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: left;
}

#faq-section h1 {
    font-size: 2.5em;
    color: #326e73;
    margin-bottom: 30px;
    text-align: center;
    border-bottom: 2px solid #2caee0;
    padding-bottom: 10px;
}

.faq-item {
    margin-bottom: 25px;
    padding: 15px;
    border-radius: 10px;
    background-color: #f7f7f7;
    border-left: 5px solid #2caee0;
    transition: background-color 0.3s ease;
}

.faq-item:hover {
    background-color: #e9e9e9;
}

.faq-pergunta {
    font-size: 1.4em;
    color: #133336;
    margin-bottom: 8px;
    cursor: pointer; 
}

.faq-resposta {
    font-size: 1.1em;
    color: #326e73;
    line-height: 1.6;
    padding-left: 10px;
}


@media (max-width: 768px) {
    #faq-section {
        width: 95%; 
        margin: 20px auto;
        padding: 10px;
    }

    #faq-section h1 {
        font-size: 1.8em;
    }
    
    .faq-pergunta {
        font-size: 1.2em;
    }
    
    .faq-resposta {
        font-size: 1em;
    }
}