*{
    margin: 0;
}

body{
    text-align: center;
    background-image: url('../imgs/punpun/Punpun.png');
    background-size: cover; 
    background-attachment: fixed;
    background-repeat: round;
    background-color: #a7b9bb;
}

#cabecalho{
    margin: auto;
    background-color: #eeeeee;
    background-image: url('../imgs/BackGrounds/Fundo\ Poeira.jpg') ;
    width: 90%;
    padding: 30px;
    height: 200px;
    border-radius: 0px 0px 20px 20px;
    text-align: center;
}

main {
    margin: auto;
    width: 85%;
    padding: 30px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#redes{
    text-align: left;
    width: 100%;
    height: 200px;
    box-sizing: border-box;
}


#pesfoto img{
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 30px;
    box-sizing: border-box;
}

#pesfoto{
    width: 150px;
    height: 150px;
    box-sizing: border-box;
    float: left;
}

#dark-mode-toggle{
    cursor: pointer; 
    background: none; 
    border: none; 
    font-size: 20px; 
    vertical-align: middle; 
    margin-left: 10px; 
    padding: 0;
    margin-top: -18px;
}

#dark-mode-icon {
    width: 30px; 
    height: 30px; 
    display: inline-block;
    line-height: 30px; 
    text-align: center;
    border-radius: 5px;
    background-color: #326e73; 
    box-sizing: border-box;
    font-size: 18px; 
}

.dark-mode {
    background-color: #121212;
    background-image: none;
}

.dark-mode #cabecalho {
    background-color: #1e1e1e;
    background-image: none;
}

.dark-mode #cont h2,
.dark-mode #navbar a {
    color: #66c6ec; 
}

.dark-mode #navbar a:hover {
    color: #03dac6; 
}

.dark-mode #miolo {
    background-color: transparent; 
}

.dark-mode .texto-bloco {
    background-color: #2c2c2c; 
}

.dark-mode .texto-bloco h2 {
    color: #e0e0e0; 
}

.dark-mode .texto-bloco p {
    color: #66c6ec; 
}

.dark-mode .contsetor:hover {
    background-color: #3a3a3a;
}

.dark-mode .bloco-principal .texto-sobreposto {
    background-color: rgba(0, 0, 0, 0.6); 
}


.dark-mode footer {
    background-color: #000000;
    color: #e0e0e0;
}

.dark-mode #dark-mode-icon {
    background-color: #66c6ec; 
}



#cont{
    margin-top: 20px;
    margin-left: 30px;
    display: inline-block;
    width: 200px;
    height: 150px;
}

#cont h2{
    color: #326e73;
    margin-bottom: 20px;
    width: 100%;
}

header h2{
    display: inline-block;
    color: white;
    font-size: 30pt;
    box-sizing: border-box;
}

.socialmedia{
    margin-left: 10px;
}

.socialmedia img{
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    border-radius: 5px;
}

#navbar{
    width: 100%;
    height: 20px;
    text-align: center;
    box-sizing: border-box;
}

#navbar a{
    color: #326e73;
    text-decoration: none;
    margin-left: 15px;
    margin-bottom: 15px;
}

#navbar a:hover{
    color: #2caee0;
    border-radius: 10px;
}

footer {
    font-size: 24px; 
    padding: 80px; 
    padding-top:140px; 
    height: auto; 
    color: white;
    display: inline-block;
    background-color: #010607;
    width: 100%;
    box-sizing: border-box; 
    text-align: center; 
}

#pesquisa{
    display: inline-block;
    margin-left: 50px;
}

#search-input{
    border: none;
    margin-left: 30px;
    width: 170px;
    height: 20px;
    cursor: pointer;
}

.contsetor {
    width: 48%; 
    height: 300px;
    margin: 10px 0; 
    border-radius: 20px;
    overflow: hidden; 
    position: relative; 
    text-align: left;
}

.link-bloco {
    display: flex;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit;
    position: relative;
    z-index: 1; 
}

.contsetor:hover {
    cursor: pointer;
    background-color: #c7c6c6;
    transition: 100ms;
    transform: scale(1.05);
}

.contsetor:active {
    cursor: pointer;
    background-color: #66c6ec;
}


.bloco-principal .link-bloco {
    display: block; 
}

.bloco-principal .imagem-fundo {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 10px;
}

.bloco-principal .texto-sobreposto {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); 
    color: white;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 10px;
    z-index: 2; 
}

.bloco-principal .texto-sobreposto h2 {
    color: white;
    font-size: 30px;
    margin-bottom: 10px;
    line-height: 1.2;
}

.bloco-principal .texto-sobreposto p {
    color: white;
    font-size: 20px;
    text-shadow: 1px 1px 2px black;
}



.bloco-secundario .link-bloco, 
.bloco-alternativo .link-bloco {
    display: flex; 
}

.bloco-alternativo .link-bloco {
    flex-direction: row-reverse;
}

.marcacaxa {
    width: 50%;
    height: 100%;
    padding: 0;
}

.imagem-bloco img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.texto-bloco {
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: #eeeeee; 
    border-radius: 10px;
}

.texto-bloco h2 {
    color: #133336;
    margin-bottom: 10px;
    text-align: left;
    height: auto; 
}

.texto-bloco p {
    color: #326e73;
    font-size: 16px; 
    text-align: left;
    height: auto;
    padding: 0;
}

.imagem-bloco img:hover {
    width: 100%;
    height: 100%;
    transition: none;
    transform: none;
}



@media (max-width: 992px) {
    .contsetor {
        width: 95%; 
        height: auto;
        margin: 15px 0;
    }

    .link-bloco {
        flex-direction: column !important; 
    }

    .marcacaxa {
        width: 100%;
        height: auto;
    }

    .imagem-bloco {
        order: 1;
    }
    
    .texto-bloco {
        order: 2;
        padding: 15px 15px 0 15px;
    }

    .bloco-principal .texto-sobreposto {
        padding: 10px;
    }
}

@media (max-width: 768px) {
    
    footer {
        font-size: 14px;
        padding: 20px;
        text-align: justify; 
        height: auto; 
        display: block; 
    }

}