* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


body {
    background-color: #d3d9d5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.card {
    width: 320px;
    background-color: #e8e8e8;
    padding: 35px 20px 50px 20px;
    border-radius: 25px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
}

.card img {
    width: 120px;
    display: block;
    margin: 0 auto 30px auto;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
    margin-bottom: 12px;
}

button {
    width: 60%;
    padding: 12px;
    border: none;
    border-radius: 10px;
    background-color: #b3b8bc;
    font-size: 18px;
    color: white;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background-color: #9fa4a7;
}

@media (max-width: 480px) {
    .card {
        width: 85%;
        padding: 30px 15px;
    }

    .card img {
        width: 100px;
    }

    button {
        width: 70%;
    }
}