*{
    margin: auto;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
}
main{
    width: 100%;
    height: 100%;
}

#logintela{
    width: 30%;
    height: 60%;
    margin-top: 5%;
    background-color: #e6e6e6;
    border-radius: 30px;
}

#loginimg img{
    width: 40%;
    height: 100%;
}

#loginimg{
    width: 100%;
    height: 50%;
    float: left;
    box-sizing: border-box;
    padding: 1%;
}

#logintextos{
    width: 100%;
    display: inline-block;
    margin: auto;
    height: 50%;
    padding: 10%;
    box-sizing: border-box;
}

.opt{
    display: inline-block;
    box-sizing: border-box;
    padding: 5px;
    width: 200px;
    height: 50px;
    border: none;
}

.opt:active{
    border: none;
}

a{
    text-decoration: none;
}

#logar{
    width: 100px;
    height: 50px;
    display: block;
    margin: auto;
    margin-top: 3%;
    background-color: #bcc1c4;
    border-radius: 10px;
}

#logar:hover{
    background-color: #326e73;
    cursor: pointer;
}

#logar:active{
    background-color: #2caee0;
}